// ion-img {
//     width: 20%;
//     height: 20%;
// }

.centrado {
    align-content: center;
    align-items: center;
    text-align: center;
}

ion-img {
    height: 10vh;
    width: auto;
    margin: auto;
    display: block;
}