<app-header titulo="Historial Médico"></app-header>

<ion-content fullscreen>
    <ion-card class="centrado" color="tertiary">
        <ion-card-header>
            <ion-card-subtitle>
                <ion-text color="dark">Folio</ion-text>   
            </ion-card-subtitle>
            <ion-card-title>
                <ion-text color="dark">{{ vaca.folio }}</ion-text>
            </ion-card-title>
            <ion-img src="./assets/logobien.png"></ion-img>
        </ion-card-header>
    </ion-card>

    <ion-list #lista>
        <ion-item-sliding *ngFor="let medico of vaca.clinico; let i = index">
            <ion-item>
                <ion-label>
                  <h3>{{ medico.vacuna }}</h3>
                  <p>Enfermedad {{ medico.enfermedad }} </p>
                  <p>N°Partos {{ medico.num_partos }} </p>
                  <p>Inseminación {{ medico.inseminacion }} </p>
                </ion-label>
          
                <ion-label slot="end" class="ion-text-right">
                  {{ medico.fecha }}
                </ion-label>
            </ion-item>
        
            <ion-item-options side="end">
                <ion-item-option color="warning" (click)="editar(medico, i)">
                    <ion-icon slot="icon-only" name="create"></ion-icon>
                </ion-item-option>
            </ion-item-options>
              
        </ion-item-sliding>        
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="abrirModal()" color="success">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>