<app-header titulo="Registro"></app-header>

<ion-content>
        <ion-row>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Folio:</ion-label>
                        <ion-input [(ngModel)]="vaca.folio" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Edad:</ion-label>
                        <ion-input [(ngModel)]="vaca.edad" type="number"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Raza:</ion-label>
                        <ion-input [(ngModel)]="vaca.raza" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Madre:</ion-label>
                        <ion-input [(ngModel)]="vaca.madre" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label position="floating">Padre:</ion-label>
                        <ion-input [(ngModel)]="vaca.padre" type="text"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="12">
                    <ion-item>
                        <ion-label>Estatus</ion-label>
                        <ion-toggle [(ngModel)]="vaca.estatus" checked></ion-toggle>
                    </ion-item>
                </ion-col>
        </ion-row>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="guardar()">
                <ion-icon name="save"></ion-icon>
            </ion-fab-button>
        </ion-fab>

</ion-content>
