<app-header titulo="Información"></app-header>

<ion-content>
    <ion-card class="centrado" color="tertiary">
        <ion-img class="top-20" src="./assets/logobien.png"></ion-img>
        <ion-card-content>
            <ion-text color="dark">Folio: {{ vaca.folio }}</ion-text></ion-card-content>
        <ion-card-content>
            <ion-text color="dark">Edad: {{ vaca.edad }}</ion-text></ion-card-content>
        <ion-card-content>
            <ion-text color="dark">Raza: {{ vaca.raza }}</ion-text></ion-card-content>
        <ion-card-content>
            <ion-text color="dark">Madre: {{ vaca.madre }}</ion-text></ion-card-content>
        <ion-card-content>
            <ion-text color="dark">Padre: {{ vaca.padre }}</ion-text></ion-card-content>
        <ion-card-content>
            <ion-text color="dark">Estatus:</ion-text> 
                <ion-badge *ngIf="vaca.estatus" mode="ios" color="success">Activa</ion-badge>
                <ion-badge *ngIf="!vaca.estatus" mode="ios" color="medium">Inactiva</ion-badge>
        </ion-card-content>
    </ion-card>

    <ion-fab horizontal="end">
    <ion-button class="top-30" color="warning" (click)="editar()">
        <ion-icon name="create"></ion-icon>
        <ion-label>Editar</ion-label>
    </ion-button>
</ion-fab>

<ion-fab>
    <ion-button class="top-30" color="danger" (click)="eliminar()">
        <ion-icon name="trash"></ion-icon>
        <ion-label>Eliminar</ion-label>
    </ion-button>
</ion-fab>

</ion-content>
