ion-img {
    height: 10vh;
    width: auto;
    margin: auto;
    display: block;
}
.centrado{
    text-align: center;
    align-items: center;
    
}
.top-30 {
    margin-top: 150px;
}
.top-20{
    margin-top: 25px;
}