<ion-content>
<ion-row>
  <ion-col size="12">
      <ion-item>
          <ion-label position="floating">Edad:</ion-label>
          <ion-input name="edad" [(ngModel)]="vaca.edad" type="number"></ion-input>
      </ion-item>
  </ion-col>
  <ion-col size="12">
      <ion-item>
          <ion-label position="floating">Raza:</ion-label>
          <ion-input name="raza" [(ngModel)]="vaca.raza" type="text"></ion-input>
      </ion-item>
  </ion-col>
  <ion-col size="12">
      <ion-item>
          <ion-label position="floating">Madre:</ion-label>
          <ion-input name="madre" [(ngModel)]="vaca.madre" type="text"></ion-input>
      </ion-item>
  </ion-col>
  <ion-col size="12">
    <ion-item>
        <ion-label position="floating">Padre:</ion-label>
        <ion-input name="padre" [(ngModel)]="vaca.padre" type="text"></ion-input>
    </ion-item>
</ion-col>
  <ion-col size="12">
      <ion-item>
          <ion-label>Estado</ion-label>
          <ion-toggle name="estado" [(ngModel)]="vaca.estatus" checked></ion-toggle>
      </ion-item>
  </ion-col>
</ion-row>


<ion-fab horizontal="end">
    <ion-button class="top-30"  color="medium" (click)="cancelar()">
        <ion-icon name="close"></ion-icon>
        <ion-label>Cancelar</ion-label>
    </ion-button>
</ion-fab>

<ion-fab>
  <ion-button class="top-30" color="success" (click)="guardar()">
    <ion-icon name="save"></ion-icon>
    <ion-label>Guardar</ion-label>
</ion-button>
</ion-fab>
</ion-content>
