<ion-content fullscreen>
  <ion-row>
    <ion-col size="12" class="top-20">
        <ion-item>
            <ion-label position="floating">Vacuna:</ion-label>
            <ion-input [(ngModel)]="medico.vacuna" type="text" class="top-20"></ion-input>
        </ion-item>
    </ion-col>
    <ion-col size="12" class="top-20">
        <ion-item>
            <ion-label position="floating">Enfermedad:</ion-label>
            <ion-input [(ngModel)]="medico.enfermedad" type="text" class="top-20"></ion-input>
        </ion-item>
    </ion-col>
    <ion-col size="12" class="top-20">
      <ion-item>
          <ion-label position="floating">Fecha:</ion-label>
          <ion-input [(ngModel)]="medico.fecha" type="date" class="top-20"></ion-input>
      </ion-item>
  </ion-col>
    <ion-col size="12" class="top-20">
        <ion-item>
            <ion-label position="floating">N° Partos:</ion-label>
            <ion-input [(ngModel)]="medico.num_partos" type="number" class="top-20"></ion-input>
        </ion-item>
    </ion-col>
    <ion-col size="12" class="top-20">
      <ion-item>
          <ion-label position="floating">Inseminació:</ion-label>
          <ion-input [(ngModel)]="medico.inseminacion" type="number" class="top-20"></ion-input>
      </ion-item>
  </ion-col>
  </ion-row>
  
  <ion-fab  horizontal="end">
    <ion-button class="top-30" color="medium" (click)="salir()">
        <ion-icon name="close"></ion-icon>
        <ion-label>Cancelar</ion-label>
    </ion-button>
  </ion-fab>
  
  <ion-fab>
  <ion-button class="top-30" color="success" (click)="guardar()">
    <ion-icon name="save"></ion-icon>
    <ion-label>Guardar</ion-label>
  </ion-button>
  </ion-fab>
  </ion-content>