<ion-content fullscreen>
<ion-row>
  <ion-col size="12" class="top-20">
      <ion-item>
          <ion-label position="floating">Cantidad lts:</ion-label>
          <ion-input [(ngModel)]="ordenada.cantidad" type="number" class="top-20"></ion-input>
      </ion-item>
  </ion-col>
  <ion-col size="12" class="top-20">
      <ion-item>
          <ion-label position="floating">Fecha:</ion-label>
          <ion-input [(ngModel)]="ordenada.fecha" type="date" class="top-20"></ion-input>
      </ion-item>
  </ion-col>
  <ion-col size="12" class="top-20">
      <ion-item>
          <ion-label position="floating">Hora:</ion-label>
          <ion-input [(ngModel)]="ordenada.hora" type="time" class="top-20"></ion-input>
      </ion-item>
  </ion-col>
  <ion-col size="12" class="top-20">
  <ion-list>
  <ion-item>
    <ion-label>Turno</ion-label>
    <ion-select [(ngModel)]="ordenada.turno">
      <ion-select-option value="Matutino">Matutino</ion-select-option>
      <ion-select-option value="Vespertino">Vespertino</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
</ion-col>
</ion-row>

<ion-fab  horizontal="end">
  <ion-button class="top-30" color="medium" (click)="salir()">
      <ion-icon name="close"></ion-icon>
      <ion-label>Cancelar</ion-label>
  </ion-button>
</ion-fab>

<ion-fab>
<ion-button class="top-30" color="success" (click)="guardar()">
  <ion-icon name="save"></ion-icon>
  <ion-label>Guardar</ion-label>
</ion-button>
</ion-fab>
</ion-content>