<ion-tabs> 
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="produccion">
        <ion-icon name="filing"></ion-icon>
        <ion-label>Producción</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="informacion">
        <ion-icon name="list-box"></ion-icon>
        <ion-label>Información</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="medico">
        <ion-icon name="pulse"></ion-icon>
        <ion-label>Médico</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="graficas">
        <ion-icon name="stats"></ion-icon>
        <ion-label>Gráficas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="home">
          <ion-icon name="qr-scanner"></ion-icon>
          <ion-label>Escanear</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
