<app-header titulo="Gráficas"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>TODAS LAS VACAS</ion-card-header>
        <ion-card-content>
            <canvas #barCanvas></canvas>
        </ion-card-content>
    </ion-card>

    <!-- <ion-card>
        <ion-card-header>VACA ACTUAL</ion-card-header>
        <ion-card-content>
            <canvas #lineCanvas></canvas>
        </ion-card-content>
    </ion-card> -->

</ion-content>
